*.d
*.txt
*.js
*.css
*.html
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.jar
*.ilk
*.db
*.log
*.tlog
*.idb
*.pdb
*.lastbuildstate
*.suo
*.ipch
*.iobj
*.ipdb
*.vc
*.jar
*.exp
*.lnk
*.opendb
*.db-shm
*.db-wal
*.obj.enc